.QuestionDetails {
	width: 100%;
	display: flex;
	justify-content: center;
}

.question-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 6em;
	width: 80%;
}

.question-screenshot {
	width: 40%;
}

.question-content {
	width: 60%;
}

.question-body {
	width: 80%;
}
