.sidebar {
  min-width: 350px;
  height: 100vh;
  margin-left: auto;
  order: 100;
  border: 2px solid gray;
}
.sidebar-button {
  text-transform: uppercase;
  font-weight: 800;
  background: #0088fa;
  height: 4em;
  margin-left: auto;
  order: 100;
}
